<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js" defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha256-GIa8Vh3sfESnVB2CN3rYGkD/MklvMq0lmITweQxE1qU=" crossorigin="anonymous" defer></script>
{% if page.url == "/contribute" %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js" integrity="sha256-67cMpqlX0UM49d8ZXGtER1fg0UIQXfFHGdUDUsiC6Aw=" crossorigin="anonymous" defer></script>
{%- endif -%}
<script src='https://buttons.github.io/buttons.js' async defer></script>
<script src='https://platform.twitter.com/widgets.js' async defer></script>
<script src="https://widget.battleforthenet.com/widget.js" async></script>
